* {
	box-sizing border-box
}

body
	display grid
	grid-gap 10px 15px
	grid-template-columns 1fr
	grid-template-areas\
		"header"\
		"main"\
		"aside"\
		"footer"

	@media (min-width: 600px)
		grid-template-columns 3fr 1fr
		grid-template-areas\
			"header header"\
			"main aside"\
			"footer footer"

	max-width 1024px
	min-height 100vh

	margin 0 auto
	padding 15px

	background-color #191b22
	color #ffffff

h1
	font-size 3em

h2
	font-size 2em

.header
	grid-area header
	justify-self center
	align-self center

.aside
	grid-area aside

.main
	grid-area main

.footer
	grid-area footer
	justify-self center
	align-self end

.familiar
	header
		font-size 3em

	p
		font-size 1.2em

a
	color #a288bd
	text-decoration none

label
	cursor pointer
	color #a288bd

b
	color #a288bd


.button
	background-color #a288bd
	color #ffffff
