doctype
html
	head
		meta(charset='utf-8')
		title ⛧ Which witch familiar ? ⛧
		
	body
		header.header
			h1.header-title ⛧ Which witch familiar ? ⛧
			
		section.intro.
			INTRO
		
		main
			p.
				GROS TEXTE TROP LONG A LIRE PENDANT LA DUREE DU BOOT
				
			p.
				Si tu réussi à lire ça juste qu'au bout c'est que quelque chose ne fonctionne pas correctement :/
				<br>
				Je t'invite donc à contacter <a>wryk@witches.town</a> pour qu'elle répare ses bêtises ! (oui, c'est forcément une bêtise de sa part)

		footer.footer
			p.
				Inpiré par une <a href='https://witches.town/@Alda/2735646'>malédiction</a> de <a href='https://witches.town/@Alda'>Alda@witches.town</a>.
			p.
				Créé par <a href='https://witches.town/@wryk'>wryk@witches.town</a> avec amour et pour le fun !
